body{
  background-color: #e0f4ff;
}

body{
  width: max(100%, 1214px);
}

/*
  header */

header{
  padding: 1.2vmin;

  height: 12.5vh;

  text-align: center;
}

/*
  main */

main{
  display: flex;
  flex-flow: row nowrap;
}

#board{
  border-collapse: collapse;
  border-spacing: 0;

  flex: 3;
  aspect-ratio: 20 / 15;
}

#board td.on{
  background-color: white;
}

#board td.bd-0{
  border-color: #ffeed9;
}

#board td.bd-1{
  border-color: darkcyan;
}

#board td{
  border: 5px dashed;
  border-color: transparent;
  padding: 0;

  height: 0;
}

#board td>input[type="text"]{
  background-color: transparent;

  border: none;

  width: 100%;
  height: 100%;

  font-size: 16.9pt;
  font-weight: 800;

  text-align: center;

  pointer-events: none;
}

#board td>input[type="text"]:hover{
  background-color: #ffeed9;
}

#board td>input[type="text"]:focus{
  background-color: transparent;

  outline: none;
}

#clue{
  background-color: #87c4ff;

  flex: 2;
}