body{
  background-color: #e0f4ff;
}

body{
  min-width: 1214px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*
  header */

header{
  display: flex;
  flex-flow: row nowrap;
}

header{
  padding: 1.2vmin;

  height: 12.5vh;
}

header>div{
  flex: 1;
}

header>div:first-child{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

header .icon-container{
  text-align: center;
}

/*
  main */

main{
  display: flex;
  flex-flow: row nowrap;
}

#board{
  border-collapse: collapse;
  border-spacing: 0;

  flex: 3;
}

#board td.on{
  background-color: white;
}

#board td.bd-0{
  border-color: #ffeed9;
}

#board td.bd-1{
  border-color: darkcyan;
}

#board td{
  border: 5px dashed;
  border-color: transparent;
  padding: 0;

  height: 0;
}

#board td>input[type="text"]{
  background-color: transparent;

  border: none;

  width: 100%;
  height: 100%;

  font-size: 16.9pt;
  font-weight: 800;

  text-align: center;

  pointer-events: none;
}

#board td>input[type="text"]:hover{
  background-color: #ffeed9;
}

#board td>input[type="text"]:focus{
  background-color: transparent;

  outline: none;
}

#hints{
  display: flex;
  flex-flow: column nowrap;
}

#hints{
  flex: 2;
  aspect-ratio: 8 / 9;
}

#hints>div:nth-child(1){
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  flex: 1;
}

#hints_title{
  color: #39a7ff;
  font-weight: 800;

  text-align: center;
}

#hints>div:nth-child(2){   /* #hint_list_container */
  flex: 6;
  overflow-y: auto;
}

#hint_list>button{
  font-size: large;
  font-weight: bold;
}

.hint_wrap{
  display: flex;
  flex-flow: row nowrap;
}

.hint_checkbox_wrap{
  margin: 0.54em;
}

#hint_list input[type="checkbox"]{
  pointer-events: none;
}